// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
#footer {
	padding: 25px 0;
	background-color: var(--bs-primary);
	color: #fff;

	p {
		margin-bottom: 0;
	}

	@media only screen and (max-width: 767px) {

	}

	@media only screen and (max-width: 479px) {

	}
}